.search-container {
    display: flex;
    align-items: center;
    align-content: center;
}

#searchInput {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

#searchInput::placeholder {
    color: #999;
}

#searchInput:focus {
    outline: none;
    border-color: #666;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.vertical-line {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px; /* Line width */
    background-color: white; /* Line color */
}

.vertical-line-left {
    left: 0; /* Position on the far left */
}

.vertical-line-right {
    right: 0; /* Position on the far right */
}
