{% extends 'layout.html' %}


{% block style %}


{% endblock style %}



{% block content %}
    <div class="container2" style="width: 100%; margin-top: 13%">
        {% for x in obj %}
            <a style="text-decoration: none" href="{{ x.content_url }}">
            <div class="flex-container" style="flex-direction: column">
                <div class="container" style="flex-grow: 1">
                    <h2 style="margin-bottom: 5%">
                        {{ x.content_headline }}
                    </h2>
                    <img src="{{ x.content_image }}" alt="Image" style="width: 350px; height: 192px;">
                    <div style="margin: 5%">
                        {{ x.content_text }}
                    </div>
                    <h4>
                        {{ x.content_date }}
                    </h4>
                    <div style="float: right">
                        Fonte: {{ x.content_source }}
                    </div>
                </div>
                <div style="height: 20px"></div>
            </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}