{% extends 'layout.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <div class="container2" style="width: 100%">
        {% if query %}
            <h3 style="color: white;">Search Results for "{{ query }}":</h3>
        {% endif %}
        {% for x in obj|slice:":20" %}
            {% if x.content_text != "No content" %}
                <a style="text-decoration: none" href="{% url 'news_detail' x.pk %}">
                    <div class="container">
                        <div style="float: left">
                            {% if x.content_source == "RTP" %}
                                <div style="display: flex; align-items: center; margin-right: 5px">
                                    <img src="{% static 'images/rtp.png' %}" alt="RTP"
                                         style="height: 71px; width: 120px;display: inline-block; vertical-align: center">
                                </div>
                            {% endif %}
                            {% if x.content_source == "Noticias ao Minuto" %}
                                <div style="display: flex; align-items: center;">
                                    <img src="{% static 'images/noticias_ao_minuto.png' %}" alt="Noticias ao Minuto"
                                         style="height: 72px; width: 80px;display: inline-block; vertical-align: center">
                                </div>
                            {% endif %}
                            {% if x.content_source == "Sapo" %}
                                <div style="display: flex; align-items: center;">
                                    <img src="{% static 'images/sapo.png' %}" alt="Sapo"
                                         style="height: 60px; width: 60px; margin-right: 10px;">
                                </div>
                            {% endif %}
                        </div>
                        <h2 style="color: #e3e3e3; font-weight: bold; margin-top: 5%">{{ x.content_headline }}</h2>
                        <div style="margin: 10px; color: #cdcdcd;">
                            {{ x.content_text }}
                        </div>
                        <div style="margin-top: 15px">
                            <div style="float: right">
                                <div>
                                    <img src="{% static 'images/category.png' %}" alt="Edu-News"
                                         style="height: 30px; width: 30px;display: inline-block; margin-right: 8px;
                                         vertical-align: middle;">
                                    {{ x.content_category }}
                                </div>
                            </div>
                            <div style="float: left">
                                <div style="float: left;">
                                    <div>
                                        <img src="{% static 'images/date.png' %}" alt="Date Icon"
                                             style="height: 30px; width: 30px; display: inline-block; margin-left: 8px;
                                             vertical-align: middle; margin-right: 8px">

                                        {% if x.content_date %}
                                            {% with x.content_date|date_parse as parsed_date %}
                                                {% if parsed_date %}
                                                        {{ parsed_date|date:"Y m d" }}
                                                {% else %}
                                                        Invalid date
                                                {% endif %}
                                            {% endwith %}
                                        {% else %}
                                            No date provided
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 20px"></div>
                </a>
            {% endif %}
        {% empty %}
            <h2 style="color: white"> No results found.</h2>
        {% endfor %}
    </div>
{% endblock %}


