{% extends 'layout.html' %}

{% block content %}
    <div class="container2" style="width: 100%">
        {% if query %}
            <h3 style="color: white;">Search Results for "{{ query }}":</h3>
        {% endif %}
        {% for x in obj|slice:":100" %}
            <a style="text-decoration: none" href="{% url 'news_detail' x.pk %}">
                <div class="container">
                    <h2 style="color: #e3e3e3; font-weight: bold">{{ x.content_headline }}</h2>
                    <div style="margin: 10px; color: #cdcdcd;">
                        {{ x.content_text }}
                    </div>
                    <h4 style="color: #cdcdcd;">{{ x.content_date }}</h4>
                    <div style="float: right">
                        Fonte: {{ x.content_source }}
                    </div>
                </div>
                <div style="height: 20px"></div>
            </a>
        {% empty %}
            <h2 style="color: white"> No results found.</h2>
        {% endfor %}
    </div>
{% endblock %}


