<!DOCTYPE html>
{% load static %}
{% load macros %}
{% load custom_filters %}


<html lang="" style="width: 100%; height: 100%;background-color: #3e3e3e">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/scripts/filtros.js"></script>
    {% macro title %}
        {% block content %}
        {% endblock %}
    {% endmacro %}

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.jpg' %}">

    <meta charset="UTF-8">
    <title>Edu-News</title>
    <style>
        button {
            background-color: transparent;
        }

        body {
            color: #252525;
            font-family: "Helvetica Neue", "Roboto", "Segoe UI", serif;
        }

        li {
            margin-bottom: 2%;
        }

        li > a {
            text-decoration: none;
            color: white;
        }

        li > a:hover {
            color: #5c5c8e;
        }


        .container {
            overflow-wrap: break-word;
            padding: 20px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            transition: background-color 0.5s ease;
            margin: 10px auto;
            text-align: center;
            color: white;
            flex-direction: column;
        }

        .container:hover {
            background-color: #817776;
        }

        .container:hover .overlay {
            animation: overlay-slide 1s ease forwards;
        }

        .container:hover img {
            transition: filter 1s ease;
        }


        @keyframes overlay-slide {
            from {
                transform: translateY(100%);
            }
            to {
                transform: translateY(0);
            }
        }
    </style>
    {% load static %}
    <link rel="stylesheet" href={% static 'css/styles.css' %}>

    {% load static %}
    <link rel="stylesheet" href={% static 'css/dropdown.css' %}>

    <script src="{% static 'scripts/trigger.js' %}"></script>

</head>

<body style="color: white; background-color: rgba(23,23,23,0.64); margin: 0; height: 100px">
<nav class="navbar" style="padding-bottom: 30px">

    <div class="dropdown" style="display: flex; align-items: center;height: 100px;margin-right: 2%; float: left">
        <a href="/" class="navbar-item"
           style="float: left; font-size: 200%; color: #dddddd; text-decoration: none">
            <img src="{% static 'images/edu-news-logo.jpg' %}" alt="Edu-News"
                 style="height: 55px; width: 55px; margin-right: 8px; vertical-align: middle;">
            Edu-News
        </a>
    </div>


    <div class="dropdown" style="display: flex; align-items: center;height: 100px;margin-right: 2%">
        <div class="search-container" style="">
            <label for="searchInput" style=""></label>
            <input type="text" id="searchInput" placeholder="Pesquisa de Notícias..."
                   style="width: 300px; padding: 2%">
            <button type="button" onclick="searchNews()">Pesquisar</button>
        </div>
    </div>

    <div class="flex-container" style="padding-left: 10%;padding-right: 15%; margin-top: 15px">{% load static %}


        <button id="refreshButton" style="margin-top: 20px; margin-left: 20%">Refresh News</button>
        <script>
            document.getElementById("refreshButton").addEventListener("click", function () {
                window.location.href = "{% url 'refresh_news' %}";
            });

            function searchNews() {
                const searchQuery = document.getElementById('searchInput').value;
                window.location.href = "{% url 'index' %}?q=" + encodeURIComponent(searchQuery);
            }
        </script>


    </div>
</nav>
<hr>


<section class="section" style="background-color: #2f2f2f">
    <div class="container2" style="width: 100%;">
        {% if request.get_full_path|slice:":2" == "/?" or request.get_full_path|slice:"1:2"|is_not_digit %}
            <div class="filters-container" style="float: left; width: 25%; margin-top: 5%">
                <div class="filter-block" style="margin-left: 5%">
                    <button id="categorias-toggle" onclick="toogle_categorias()"
                            style="color: #e7e8e9; margin-left: 15px; background-color: transparent; font-size: 1.5em">
                        <img src="{% static 'images/category.png' %}" alt="Edu-News"
                             style="height: 30px; width: 30px; margin-right: 8px; vertical-align: middle;">
                        Categorias
                    </button>
                    <ul class="categorias-list" style="display: none; margin-left: 5%; list-style-type: none">
                        {% for category in categories %}
                            <li style="color: #e7e8e9; list-style-type: none">
                                <a href="{% url 'index' %}?category={{ category|urlencode }}{% if query %}&q={{ query|urlencode }}{% endif %}">
                                    <img src="{% category_image category %}"
                                         alt="{{ category }}"
                                         style="height: 30px; width: 30px; margin-right: 8px; vertical-align: middle;">
                                    {{ category }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter-block" style="margin-left: 5%">
                    <button id="data-toggle" onclick="toogle_data()"
                            style="color: #e7e8e9; margin-left: 15px; margin-top: 15px; background-color: transparent; font-size: 1.5em">
                        <img src="{% static 'images/time-left.png' %}" alt="Edu-News"
                             style="height: 30px; width: 30px; margin-right: 8px; vertical-align: middle;">
                        Ordem de Data
                    </button>
                    <ul class="data-list" style="display: none; margin-left: 5%; list-style-type: none">
                        <li style="color: white"><a
                                href="{% url 'index' %}?date=content_date{% if query %}&q={{ query }}{% endif %}">
                            <img src="{% static 'images/mais_antigo.png' %}" alt="Edu-News"
                             style="height: 30px; width: 30px; margin-right: 8px; vertical-align: middle;">
                            Mais Antigas</a></li>
                        <li style="color: white"><a
                                href="{% url 'index' %}?date=-content_date{% if query %}&q={{ query }}{% endif %}">
                            <img src="{% static 'images/mais_recente.png' %}" alt="Edu-News"
                             style="height: 30px; width: 30px; margin-right: 8px; vertical-align: middle;">
                            Mais Recentes</a></li>
                    </ul>
                </div>
                <div class="filter-block" style="margin-left: 5%">
                    <button id="fonte-toggle" onclick="toogle_fonte()"
                            style="color: #e7e8e9; margin-left: 15px; margin-top: 15px; background-color: transparent; font-size: 1.5em">
                        <img src="{% static 'images/identities.png' %}" alt="Edu-News"
                             style="height: 30px; width: 30px; margin-right: 8px; vertical-align: middle;">
                        Fonte
                    </button>
                    <ul class="fonte-list" style="display: none; margin-left: 5%; list-style-type: none">
                        {% for source in sources %}
                            <li style="color: #e7e8e9"><a href="{% url 'index' %}?source={{ source }}{% if query %}&q={{ query }}{% endif %}">
                                <img src="{% source_image source %}"
                                         alt="{{ source }}"
                                         style="height: 30px; width: 30px; margin-right: 8px; vertical-align: middle;">
                                {{ source }}
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="main-content" style="float: left; width: 50%;">
                {% usemacro title %}
            </div>
        {% else %}
            <div class="container2" style="padding-left: 25%; padding-right: 25%;">
                {% usemacro title %}
            </div>
        {% endif %}
    </div>
</section>


</body>
</html>