<!DOCTYPE html>
{% load static %}

<html lang="" style="width: 100%; height: 100%;background-color: #070607;padding-top: 0.5%">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <meta charset="UTF-8">
    <title>Edu-News</title>
    <style>
        body {
            color: black;
            font-family: "STIX Two Text", sans-serif;;
        }


        .container {
            overflow-wrap: break-word;
            padding: 20px;
            background-color: #3d308a;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            transition: background-color 0.5s ease;
            margin: 10px auto; /* Center horizontally with auto margin */
            text-align: center; /* Center text horizontally */
            color: white;
            flex-direction: column;
        }

        .container:hover {
            background-color: #817776; /* Change the color here */
        }

        .container:hover .overlay {
            animation: overlay-slide 0.5s ease forwards;
        }

        .container:hover img {
            filter: grayscale(100%);
            transition: filter 0.5s ease;
        }


        @keyframes overlay-slide {
            from {
                transform: translateY(100%);
            }
            to {
                transform: translateY(0);
            }
        }
    </style>
    {% load static %}
    <link rel="stylesheet" href={% static 'css/styles.css' %}>

    {% load static %}
    <link rel="stylesheet" href={% static 'css/dropdown.css' %}>

    <script src="{% static 'scripts/trigger.js' %}"></script>

</head>

<!-- >

< -->
<body style="">
<nav class="navbar" style="padding-top: 0.3%">
    <div class="flex-container" style="padding-left: 15%;padding-right: 15%">
        <a href="/" class="navbar-item"
           style="float: left;font-size: 150%;color: #dddddd; border-radius: 10px">Edu-News</a>

        <div class="dropdown">
        <button class="dropbtn" style="border-radius: 10px;margin-left: 60px;margin-right: 60px" onclick="filterContent()">Pesquisar Noticias
        </button>
        </div>

        <div class="dropdown">
            <button class="dropbtn" style="border-radius: 10px;margin-left: 60px;margin-right: 60px"
                    onclick="myFunction()">Categorias
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Auto','auto')"><strong>Auto</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Casa','casa')"><strong>Casa</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Cultura','cultura')"><strong>Cultura</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Desporto','desporto')"><strong>Desporto</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Economia','economia')"><strong>Economia</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Fama','fama')"><strong>Fama</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Lifestyle','lifestyle')"><strong>Lifestyle</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'País','pais')"><strong>País</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Tech','tech')"><strong>Tech</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Politica','politica')"><strong>Politica</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Ultimas','ultimas')"><strong>Ultimas</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextCategory(this,'Mundo','mundo')"><strong>Mundo</strong></a>

            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn" style="border-radius: 10px;margin-left: 60px;margin-right: 60px"
                    onclick="myFunction2()">Data das Noticias
            </button>
            <div class="dropdown-content" id="myDropdown2">
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextDate(this,'Mais-Antigas','content_date')"><strong>Mais-Antigas</strong></a>
                <a class="" style="position: static; border-radius: 10px"
                   onclick="changeButtonTextDate(this,'Mais Recentes', '-content_date')"><strong>Mais Recentes</strong></a>


            </div>
        </div>


        <script>
            var selectedCategory = '';
            var selectedDate = '';

            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            function changeButtonTextCategory(button, title, category) {
                selectedCategory = category;
                // Set the button's innerHTML to the title of the clicked item
                button.closest('.dropdown').querySelector('.dropbtn').innerHTML = title;

                // Close the dropdown after clicking an item
                document.getElementById("myDropdown").classList.remove("show");
            }

            function myFunction2() {
                document.getElementById("myDropdown2").classList.toggle("show");
            }

            function changeButtonTextDate(button, title, date) {
                selectedDate = date;
                // Set the button's innerHTML to the title of the clicked item
                button.closest('.dropdown').querySelector('.dropbtn').innerHTML = title;

                // Close the dropdown after clicking an item
                document.getElementById("myDropdown2").classList.remove("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (e) {
                if (!e.target.matches('.dropbtn')) {
                    const dropdowns = document.getElementsByClassName("dropdown-content");
                    for (let i = 0; i < dropdowns.length; i++) {
                        const openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }

            function filterContent() {
                if (selectedCategory === '') {
                    selectedCategory = 'ultimas'
                }
                if (selectedDate === '') {
                    selectedDate = '-content_date'
                }
                window.location.href = "{% url 'index' %}?category=" + selectedCategory + "&date=" + selectedDate;
            }


        </script>

        <button id="refreshButton">Refresh News</button>


        <script>
            document.getElementById("refreshButton").addEventListener("click", function () {
                window.location.href = "{% url 'refresh_news' %}";
            });
        </script>


    </div>
</nav>
<hr>
<section class="section" style="padding-left: 25%;padding-right: 25%;padding-top: 2%">
    <div class="container2">
        {% block content %}
        {% endblock %}
    </div>
</section>


</body>
</html>