{% extends 'layout.html' %}

{% block style %}

{% endblock style %}

{% block content %}
     <script>
        document.addEventListener("DOMContentLoaded", function () {
            const utterances = document.querySelectorAll('.utterance');
            const prevButton = document.getElementById('prev-snippet');
            const nextButton = document.getElementById('next-snippet');
            let currentIndex = 0;

            function showUtterance(index) {
                // Hide all utterances
                utterances.forEach(utterance => {
                    utterance.style.display = 'none';
                });

                // Show the current utterance
                if (utterances[index]) {
                    utterances[index].style.display = 'grid';

                }
            }

            // Event listener for the next button
            nextButton.addEventListener('click', function () {
                if (currentIndex + 1 < utterances.length) {
                    currentIndex += 1;
                    showUtterance(currentIndex);
                }
            });

            // Event listener for the previous button
            prevButton.addEventListener('click', function () {
                if (currentIndex - 1 >= 0) {
                    currentIndex -= 1;
                    showUtterance(currentIndex);
                }
            });

            // Initially show the first utterance
            showUtterance(currentIndex);
        });
    </script>

    <div class="container2" style="width: 100%">
        <a style="text-decoration: none" href="{{ obj.content_url }}">
            <div class="flex-container" style="flex-direction: column">
                <div class="container" style="flex-grow: 1">
                    <h2 style="margin-bottom: 5%">
                        {{ obj.content_headline }}
                    </h2>
                    <img src="{{ obj.content_image }}" alt="Image" style="width: 350px; height: 192px;">
                    <div style="margin: 5%">
                        {{ obj.content_text }}
                    </div>
                    <h4>
                        {{ obj.content_date }}
                    </h4>
                    <div style="float: right">
                        Fonte: {{ obj.content_source }}
                    </div>
                </div>
                <div style="height: 20px"></div>
            </div>
        </a>

        <div id="utterances-wrapper" class="utterances-wrapper">
            <div style="display: flex; justify-content: center; align-items: center;">
                <a id="prev-snippet" href="javascript:void(0);" class="navigation-arrow" style="margin-right: 60px;">&#9664;</a>
                <div id="snippets-container" class="snippets-container" style="flex-grow: 1;">
                    {% if snippets %}
                        {% for snippet in snippets %}
                            <div class="snippet" style="margin: 5%">{{ snippet.snippet_text }}</div>
                        {% endfor %}
                    {% else %}
                        <h2>No snippets, yet!</h2>
                    {% endif %}
                </div>
                <a id="next-snippet" href="javascript:void(0);" class="navigation-arrow" style="margin-left: 60px;">&#9654;</a>
            </div>
        </div>

        <button style="margin-left: 10%; margin-right: 10%" onclick="window.location.href='{% url 'random_news' %}'">Outra coisa</button>
        <button onclick="window.location.href='{% url 'index' %}'">Voltar</button>

    </div>

{% endblock content %}
